<% rows.forEach((row) => { %>
  <tr>
    <% row.forEach((r, i) => { %>
      
      <%
      var buttons = '<a href="/manage/'+r+'"><i class="glyphicon glyphicon-pencil"> </i></a> <a href="#" data-delete="'+r+'"><i class="glyphicon glyphicon-trash"> </i></a>'
      var content = ( i ? r : buttons );
      %>
      <td><%- content %> </td>
      

    <% }) %>
  </tr>
<% }) %>

<% if (rows.length === 0) { %>
  <tr>
    <td colspan="<%= (schema.length + 1) %>" align="center">There are no records to show.</td>
  </tr>
<% } %>

<% if (thisBookmark != nextBookmark) { %>

  <tr id='row-showMore'>
    <td colspan="<%= (schema.length + 1) %>" align="center">

      <button class='btn btn-info' id="showMore" onClick="showMore('<%= nextBookmark %>')">
        <i class="glyphicon glyphicon-search"> </i> Show More
      </button>

    </td>
  </tr>

<% } %>